<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/style.css" >
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Welcome ! <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services"> Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <h3 >Here you can manage your note</h3>
   <div class="divservice">
    <ul class="list" >
        <li><img src="/assets/img/note.jpg"/> Create your notes</li>
        <li ><img src="/assets/img/note.jpg"/> Your can also edit or remove your note  </li>
        <li ><img src="/assets/img/note.jpg"/> Create a plan with your notes</li>
        <li ><img src="/assets/img/note.jpg"/> Add notes to your agenda</li>
        <li> <img src="/assets/img/note.jpg"/> Set a reminder for notes</li>
    </ul>
   </div>

</body>
</html>